@import CampaignController._

@(id: Int, campaignForm: Form[CampaignFormData])(implicit messages: Messages)

    @layout.default("edit page") {

        <h1>キャンペーン編集</h1>
        <div class="table-example">
            <form action="@routes.CampaignController.editPost(id)" method="POST">
                <fieldset class="form-group">
                    <label for="input-title">タイトル</label>
                    @helper.input(campaignForm("title")) { (id, name, value, args) =>
                        <input name="@name" type="text" class="form-control" id="input-title" placeholder="" value="@value">
                    }
                </fieldset>
                <fieldset class="form-group">
                    <label for="textarea-content">コンテンツ</label>
                    @helper.input(campaignForm("content")) { (id, name, value, args) =>
                        <textarea name="@name" class="form-control" id="textarea-content" rows="3">@value</textarea>
                    }
                </fieldset>
                <button type="submit" class="btn btn-primary">登録</button>
            </form>
        </div>
    } {<!-- javascripts -->
    }
